{% extends "base.html" %}
{% block title %}Viikkosuunnitelma{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
<div class="row">
    <div class="flex-sm-column"></div>
    <div class="flex-lg-column rounded">

<h1>Lisätäänkö {{ recipe_name }} viikkosuunnitelmaan?</h1><br>
        <div class="links">
        <a class="del" href="{{url_for('plan.added_to_plan', recipe_name=recipe['recipe_name'])}}"
       onclick="return confirm_alert(this)">Lisää resepti viikkosuunnitelmaan</a><br><br>
        <a class="del" href="{{url_for('auth.home')}}">Palaa etusivulle</a><br><br></div>
            <h6>{{recipe.recipe_name}}</h6><br>

                <p style="text-align: center">{% for ingredient in recipe['ingredients'] %}
                {{ingredient['quantity']}} {{ingredient['measuring_unit']}} {{ingredient['ingredient']}}<br>
                {% endfor %}</p><br>
            <p style="font-weight: bold">Valmistusohje:</p>
            <p>{{recipe.description}}</p><br>


    <div class="flex-sm-column"></div>
    </div></div>
<script>
    function confirm_alert() {
        return confirm("Resepti lisätty viikkosuunnitelmaan!")
    }

</script>

{% endblock %}