{% extends "base.html" %}
{% block title %}Profiili{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}

<div class="row">
    <div class="flex-sm-column"></div>
    <div class="flex-lg-column rounded">
<h1>Käyttäjäprofiili - {{ name }}</h1><br><br>

<p style="text-align: center">Sähköpostiosoite: {{ current_user.email }} <br><br>
Jäsen {{ current_user.registration_time.strftime('%d.%m.%Y') }} alkaen <br><br>
Lisättyjä reseptejä: {{ user_recipes }} <br><br>
<a href="{{ url_for('plan.plan') }}">Näytä viikkosuunnitelma</a></p></div>
    <div class="flex-sm-column"></div>
</div>
{% endblock %}