body {
    background-image: url(../taustakuva.jpg);
    align-items: center;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    margin: 30px;
    text-align: justify;
}
.links {
    text-align: center;
}

li {
    margin: 0 0 0 30px;
}

form {
    margin: 30px;
    justify-content: center;
}

input[type=checkbox] {
    width: 5%;
}

h2 {
    margin: 30px;
}

#helper {
    text-align: justify;
}

table {
    margin: 30px;
}

.row {
    height: 70vh;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table, th, td, tr {
    border: 1px solid black;
    height: fit-content;
    }

.item {
  background: navajowhite;
  flex-flow: nowrap;
  width: 30%;
  float: left;
  margin: 10px auto auto auto;
  height: auto;
  line-height: normal;
  opacity: 0.8;
  display: none;
}

h4 {
    margin: 30px;

}

h1, h3, h6 {
    text-align: center;
}

#intro {
    margin: auto;
    text-align: center;
    align-self: center;
    position: relative;
    background: black;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    #intro {
        width: 90%;
    }
}

@media screen and (min-width: 801px) {
    #intro {
        width: 58.5%;
    }
}

.flex-sm-column {
    width: 25%;
}

.flex-lg-column {
    width: 50%;
    background: linen;
    height: auto;
    opacity: 0.9;
}

.flex-md-column {
    width: 25%;
    float: left;
    margin: 10px;
    background: linen;
    height: auto;
    opacity: 0.9;
}

@media screen and (max-width: 800px) {
    .flex-md-column, .item {
        width: 100%;
    }
}

#printButton {
    margin: 0 0 0 30px;
}

#showInstructions {
    margin: 0 0 0 30px;
}

textarea {
    max-width: 100%;
}

.addingr {
    display: inline-block;
    float: none;
}

.addingr label {
    display: block;
}

label {
    text-align: left;
}

.is-danger {
    text-align: center;
    font-size: large;
    background: crimson;
    color: white;
}

#modButtons, .modifyIngredients, .addingr, #moreIngredients, .newIngredients {
    text-align: center;
}

select {
    max-width: 100%;
}

#myBtnContainer {
    width: 50%;
    text-align: center;
}

#selectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
  display: block;
}