body {
    font-family: "Verdana", monospace;
    background: lightgoldenrodyellow;
}

html {
    background: lavenderblush;
}

p {
    margin: 30px;
}

li {
    margin: 0 0 0 30px;
}

form {
    margin: 30px;
}

input {
    width: 50%;
    margin: 30px;
}

footer {
    background: beige;
}

h2 {
    margin: 30px;
}

.form-group {
    width: 30%;
}

#remember {
    white-space: nowrap;
}

#remember label {
    padding-left: 0.4em;
}

#helper {
    text-align: justify;
}
