{% extends "base.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}


<div id="content">
    <p>Rekisteröityneet käyttäjät voivat luoda omia reseptejä ja lisätä niitä viikkosuunnitelmiin!</p>
<form action="" method="post">
    <div class="form-group">
        <label></label>
        <label for="inputName"></label>
        <input name="name" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Nimi">
        <small id="fullName" class="form-text text-muted">Etunimi riittää!</small>
    </div>
    <div class="form-group">
        <label for="inputEmail"></label>
        <input name="email" class="form-control" id="inputEmail" placeholder="Sähköpostiosoite">
        <small id="emailHelp" class="form-text text-muted">Emme lähetä sinulle mitään emmekä jaa sähköpostiosoitettasi kenellekään!</small>
    </div>
    <div class="form-group">
        <label for="inputPassword"></label>
        <input type="password" name="password1" class="form-control" id="inputPassword" placeholder="Salasana">
        <small id="passwordHelp" class="form-text text-muted">Keksi jokin salasana, jota et käytä muilla sivustoilla.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword2"></label>
        <input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Toista salasana">
        <small id="password2Help" class="form-text text-muted">Kirjoita vielä salasana uudestaan.</small>
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy!</button>

</form>
</div>

{% endblock %}