{% extends "base.html" %}
{% block title %}Lisää resepti{% endblock %}
{% block head %}
    {{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    {{ super() }}
<div id="content">
    <h2>Lisää uusi resepti</h2>

    <form action="" method="post">
    <div class="form-group">
        <label></label>
        <label for="inputName"></label>
        <input name="rec_name" class="form-control" id="inputName" size="50" aria-describedby="emailHelp" placeholder="Reseptin nimi" required>
        <small id="fullName" class="form-text text-muted">Lisää jokin reseptiä hyvin kuvaava, yksinkertainen nimi.</small><br>
    </div>
    <div class="form-group">
        <small id="helper" class="form-text text-muted">Lisää seuraavaksi määrä, yksikkö ja ainesosan nimi - esim. 1 tl suolaa.
        Paina "Lisää ainesosa" -nappia lisätäksesi useita ainesosia.</small>
        <label for="inputQty"></label>
        <input name="quantity" class="form-control" id="inputQty" placeholder="Määrä" required>

        <label for="inputMeasure"></label>
        <input name="measuring_unit" class="form-control" id="inputMeasure" placeholder="Yksikkö" required>

        <label for="inputIngr"></label>
        <input name="ingredient" class="form-control" id="inputIngr" placeholder="Ainesosa" required><br>

    <div class="input_fields_wrap">
        <button type="submit" class="btn btn-primary">Lisää ainesosa</button>
    </div></div>
    <div class="form-group">
        <label for="inputInstructions"></label>
        <input type="text" name="instructions" class="form-control" id="inputInstructions" placeholder="Valmistusohje" required>
        <small id="instrHelp" class="form-text text-muted">Lisää ohje, mutta älä tarinoi. Keskity olennaiseen eli siihen, miten tämä ruoka valmistetaan.</small>
    </div>

    <button type="submit" class="btn btn-primary">Lisää resepti!</button>
    </form>
</div>


<script>

</script>

{% endblock %}