{% extends "base.html" %}
{% block title %}Koti{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
<div id="intro" class="rounded">
    <h1 style="color: white">Tervetuloa katselemaan ja luomaan reseptejä.</h1><br>
<p style="text-align: center; color: white;">Löydä itsellesi ja perheellesi sopivat reseptit ja lisää ne omaan viikkosuunnitelmaasi.<br>
Viikkosuunnitelma-sivulla näet automaattisesti luodun ostoslistan, joka sisältää koko viikon ostokset!</p><br></div><br>


<div class="row">
            {% if recipes|length > 0 %}{% for recipe in recipes %}
    <div class="item rounded">
            <h4 id="name" style="font-weight: bold">{{recipe.recipe_name}}</h4>
            <p style="font-weight: bold">Ainesosat:</p>
            <p>{% for ingredient in recipe['ingredients'] %}
                        {{ingredient['quantity']}} {{ingredient['measuring_unit']}} {{ingredient['ingredient']}}<br>
                {% endfor %}</p>
            <p style="font-weight: bold">Ohje:</p>
            <p id="description">
                {{recipe.description}} </p>
            {% if recipe.creator == current_user.email %}
            <p><a href="{{ url_for('prep_delete', recipe_name=recipe['recipe_name'])}}">Poista</a></p>
            <p><a href="{{ url_for('modify', recipe_name=recipe['recipe_name'])}}">Muokkaa</a></p>
            {% endif %}
            {% if current_user.is_authenticated %}
            <input type="hidden" id="recipe_id" name="recipe_id" value="{{recipe.id}}"/>
            <p><a href="{{ url_for('prep_add_plan', recipe_name=recipe['recipe_name'])}}">Lisää viikkosuunnitelmaan</a></p><br>
            </div>{% endif %}{% endfor %}<br>
        {% else %}
        <h3>Ei vielä reseptejä! <a href="{{ url_for('add_recipe')}}">Lisää ensimmäinen!</a></h3>
        {% endif %}

</div>


{% endblock %}