{% extends "base.html" %}
{% block title %}Koti{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
<div id="content">
<p>Tervetuloa katselemaan ja luomaan reseptejä.</p>
<p>Löydä itsellesi ja perheellesi sopivat reseptit ja lisää ne viikkosuunnitelmaan.</p>
<p>Luo viikkosuunnitelman perusteella ostoslista.</p>


    {% if recipes|length > 0 %}
        {% for recipe in recipes %}
        <table id="allRecipes">
        <tr id="recipe">
            <th id="name">{{recipe.recipe_name}}</th>
            <th>Ainesosat:</th>
            <td id="ingredients">{% endfor %}
                {% for recipe in recipes %}
                    {% for ingredient in recipe['ingredients'] %}
                        {{ingredient['quantity']}} {{ingredient['measuring_unit']}} {{ingredient['ingredient']}}
                    {% endfor %}
                {% endfor %}</td>
            <th>Ohje:</th>
            <td id="description">{% for recipe in recipes %}
                {{recipe.description}} </td>
            {% if recipe.creator == current_user.email %}
            <td><a href="{{ url_for('prepare_delete', recipe_name=recipe['recipe_name'])}}">Poista</a></td>
            <td><a href="{{ url_for('modify', recipe_name=recipe['recipe_name'])}}">Muokkaa</a></td>
            {% endif %}
            {% if current_user.is_authenticated %}
            <td><a href="">Lisää viikkosuunnitelmaan</a></td>
            {% endif %}{% endfor %}
        {% else %}
        <h3>Ei vielä reseptejä! <a href="{{ url_for('add_recipe')}}">Lisää ensimmäinen!</a></h3>
        {% endif %}</tr></table>
</div>
{% endblock %}