{% extends "base.html" %}
{% block title %}Muokkaa reseptiä{% endblock %}
{% block head %}
    {{ super() }}
<script src="https://unpkg.com/axios/dist/axios.min.js" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html"></script>

{% endblock %}
{% block content %}
    {{ super() }}

<div class="row">
    <div class="flex-sm-column"></div>
    <div class="flex-lg-column rounded">

    <h1>Muokkaa reseptiä: {{recipe.recipe_name}}</h1>

        <form id="recipe_form">
            <p><label for="rec_name" style="font-weight: bold">Reseptin nimi: </label>
            <input type="text" class=form-control id="rec_name" name="rec_name" value="{{recipe.recipe_name}}"/></p>
            <input type="hidden" id="recipe_id" name="recipe_id" value="{{recipe.id}}"/><br>
            <p><label for="instructions" style="font-weight: bold">Valmistusohje: </label><br>
            <textarea type="text" class="form-control" rows="10" cols="50" id="instructions" name="instructions" >{{recipe.description}}</textarea></p>

            <p style="font-weight: bold; text-align: center">Ainesosat:</p>

<div class="modifyIngredients">{% for ingredient in recipe['ingredients'] %}
            <div class="addingr"><input type="text" style="width: 60px" class="form-control mod_quantity" id="mod_quantity" name="quantity" value="{{ingredient['quantity']}}" /></div>
            <div class="addingr"><input type="text" style="width: 60px" class="form-control measuring_unit" id="mod_measuring_unit" name="measuring_unit" value="{{ingredient['measuring_unit']}}"/></div>
            <div class="addingr"><input type="text" class="form-control ingredient" style="width: auto" id="mod_ingredient" name="ingredient" value="{{ingredient['ingredient']}}" /></div><br>
            <a href="{{ url_for('delete_ingredient', quantity=quantity, measuring_unit=measuring_unit, ingredient=ingredient, recipe_name=recipe.recipe_name)}}">Poista tämä ainesosa</a><br><br>
            {% endfor %}

</div>

<div id="moreIngredients"> </div>

            <div id="modButtons">
            <button type="button" id="addIngredient" class="btn btn-info" value="add" onclick="addInput()">Lisää uusi ainesosa!</button><br><br>
           <input type="submit" id="submit" class="btn btn-primary" value="Tallenna resepti!" onclick="return confirm_alert(this)"/>
</div>
</form><div class="flex-sm-column"></div>
    </div></div>
<script>

    let num = 0;


    function addInput(){
        num++;
        let newInput = '<div class="addingr"><label for="quantity"></label>\n' +
        '<input type="text" class="form-control" style="width: 80px" name="quantity" ' +
        'id="quantity1'+num+'" placeholder="Määrä"><small id="quantity" class="form-text text-muted">Esim. 1, 0.5, 2..</small></div> ' +
        '<div class="addingr"><label for="measuring_unit"></label>'+
        '<input type="text" class="form-control" style="width: 100px" name="measuring_unit" id="measuring_unit1'+num+'" ' +
         'placeholder="Yksikkö"><small id="quantity" class="form-text text-muted">Esim. dl, tl, rkl...</small></div>' +
        '<div class="addingr"><label for="ingredient"></label>'+
        '<input type="text" class="form-control" name="ingredient" id="ingredient1'+num+'" ' +
         'placeholder="Ainesosa"><small id="quantity" class="form-text text-muted">Esim. dl, tl, rkl...</small></div><br><br>' ;
        document.getElementById('moreIngredients').innerHTML += newInput;
    }


     const form = document.getElementById("recipe_form")

 form.addEventListener("submit", function(e) {
     e.preventDefault();
     let data = new FormData(form);

     axios({
         method: "put",
         url: "/",
         data: data,
         header: {"Content-Type": "application/json"}
     })
         .then(function(response) {
             console.log("Response, data = " + response.data)

             if (response.status == 200) {
                 form.reset()
                 window.location = "/";
             }
         })
         .catch(function (response) {
             console.log(response);
         })
 })
 function confirm_alert() {
     return confirm("Resepti päivitetty!")
 }

</script>




{% endblock %}