{% extends "base.html" %}
{% block title %}Viikkosuunnitelma{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}

<div class="row">
    <div class="flex-sm-column"></div>
    <div class="flex-md-column rounded">
<h2>Viikkosuunnitelma - {{ name }}</h2><br>

    {% if recipes|length > 0 %}
    <table>
    <tr>
        <th>Viikonpäivä</th>
        <th>Resepti</th>

    </tr>{% for recipe_added in recipes %}
    <tr>
        <td><input type="text" class="form-control"></td>
        <td id="name">{{recipe_added}} <a href="{{ url_for('delete_from_plan', recipe_name=recipe_added)}}">Poista</a>
        {% endfor %}</td>


    </table></div>
<div class="flex-md-column rounded">
    <div id="ostoslista">
        <h2>Ostoslista</h2><br>
        <p>Näitä reseptejä varten tarvitset yhteensä:</p>
        <p>{% for key, value in final_list.items() %}
        {{value.quantity}} {{value.measuring_unit}} {{value.ingredient}}<br>
        {% endfor %}</p>
        <button class="btn btn-outline-primary" id="printButton" onclick="window.print()">Tulosta tämä sivu</button><br><br><div></div>

    </div>
        {% else %}
        <p>Et ole vielä lisännyt viikkosuunnitelmaasi yhtään reseptiä.
            <a href="{{ url_for('home')}}">Palaa etusivulle lisätäksesi reseptejä.</a></p>
        {% endif %}</table></div>
    <div class="flex-sm-column"></div></div>


{% endblock %}